<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="./styles/login.css">
       
        <style>
            #container {
    height:35px;
    background-color:white;
    color:black;
    display:flex;
    padding:10px 0 0 15px;
    border-radius: 10px;
    border:2px solid black;
  
    width:98%;
    justify-content: flex-end;
    margin:auto;


  }
  #container>div{
      margin-left: 5%;
    
  }
  #container>div:hover{
    color:crimson;
  }
        </style>

    </head>

    <body>
        <header>
            <div id ="container">
      
                <div onclick="window.location.href='index.html'">Home</div>
                <div onclick="window.location.href='login.html'" >Login</div>
                <div  onclick="window.location.href='signup.html'">Signup</div>
               
           </div>   
        </header>
        <div id="login-form-div">
            <h1>Login</h1>
            <form>
                <!--Write form input elements here-->
                <input  id="pass"type="password" placeholder="Enter password"/>
                <br>
                <input id="user" type="text" placeholder="Enter username"/>
                <br>
                <input  id="submit" type="submit" value ="login">

            </form>

        </div>
    </body>

</html>
<script src="./scripts/login.js"></script>